In [26]:
import pandas as pd
import numpy as np

In [42]:
data=pd.read_csv(r"https://raw.githubusercontent.com/plotly/datasets/master/timeseries.csv")

In [28]:
data.head()

         Date      A       B       C      D      E      F      G
0  2008-03-18  24.68  164.93  114.73  26.27  19.21  28.87  63.44
1  2008-03-19  24.18  164.89  114.75  26.22  19.07  27.76  59.98
2  2008-03-20  23.99  164.63  115.04  25.78  19.01  27.04  59.61
3  2008-03-25  24.14  163.92  114.85  27.41  19.61  27.84  59.41
4  2008-03-26  24.44  163.45  114.84  26.86  19.53  28.02  60.09

In [29]:
data.columns

Index(['Date', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [30]:
data.index

RangeIndex(start=0, stop=11, step=1)

In [43]:
data.index=data.Date

In [32]:
data.head()

                  Date      A       B       C      D      E      F      G
Date
2008-03-18  2008-03-18  24.68  164.93  114.73  26.27  19.21  28.87  63.44
2008-03-19  2008-03-19  24.18  164.89  114.75  26.22  19.07  27.76  59.98
2008-03-20  2008-03-20  23.99  164.63  115.04  25.78  19.01  27.04  59.61
2008-03-25  2008-03-25  24.14  163.92  114.85  27.41  19.61  27.84  59.41
2008-03-26  2008-03-26  24.44  163.45  114.84  26.86  19.53  28.02  60.09

In [44]:
data.pop('Date')
data.head()

                A       B       C      D      E      F      G
Date
2008-03-18  24.68  164.93  114.73  26.27  19.21  28.87  63.44
2008-03-19  24.18  164.89  114.75  26.22  19.07  27.76  59.98
2008-03-20  23.99  164.63  115.04  25.78  19.01  27.04  59.61
2008-03-25  24.14  163.92  114.85  27.41  19.61  27.84  59.41
2008-03-26  24.44  163.45  114.84  26.86  19.53  28.02  60.09

# preprocessing

In [34]:
data.describe()

,A,B,C,D,E,F,G
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,24.227273,163.888182,115.155455,27.061818,19.665455,28.410000,59.119091
std,0.239879,0.647438,0.352686,0.795510,0.487737,0.759697,1.964568
min,23.810000,163.220000,114.730000,25.780000,19.010000,27.040000,56.180000
25%,24.085000,163.395000,114.845000,26.505000,19.370000,27.930000,58.070000
50%,24.190000,163.590000,115.110000,27.090000,19.610000,28.250000,59.410000
75%,24.360000,164.325000,115.470000,27.615000,19.965000,29.020000,59.800000
max,24.680000,164.930000,115.720000,28.220000,20.420000,29.510000,63.440000

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2008-03-18 to 2008-04-03
Data columns (total 7 columns):
A    11 non-null float64
B    11 non-null float64
C    11 non-null float64
D    11 non-null float64
E    11 non-null float64
F    11 non-null float64
G    11 non-null float64
dtypes: float64(7)
memory usage: 704.0+ bytes

In [45]:
y=data['G']

In [46]:
y

Date
2008-03-18    63.44
2008-03-19    59.98
2008-03-20    59.61
2008-03-25    59.41
2008-03-26    60.09
2008-03-27    59.62
2008-03-28    58.65
2008-03-31    59.20
2008-04-01    56.18
2008-04-02    56.64
2008-04-03    57.49
Name: G, dtype: float64

In [47]:
data=data.drop(['G'],axis=1)
data.head()

                A       B       C      D      E      F
Date
2008-03-18  24.68  164.93  114.73  26.27  19.21  28.87
2008-03-19  24.18  164.89  114.75  26.22  19.07  27.76
2008-03-20  23.99  164.63  115.04  25.78  19.01  27.04
2008-03-25  24.14  163.92  114.85  27.41  19.61  27.84
2008-03-26  24.44  163.45  114.84  26.86  19.53  28.02

In [48]:
data.values

array([[ 24.68, 164.93, 114.73,  26.27,  19.21,  28.87],
       [ 24.18, 164.89, 114.75,  26.22,  19.07,  27.76],
       [ 23.99, 164.63, 115.04,  25.78,  19.01,  27.04],
       [ 24.14, 163.92, 114.85,  27.41,  19.61,  27.84],
       [ 24.44, 163.45, 114.84,  26.86,  19.53,  28.02],
       [ 24.38, 163.46, 115.4 ,  27.09,  19.72,  28.25],
       [ 24.32, 163.22, 115.56,  27.13,  19.63,  28.24],
       [ 24.19, 164.02, 115.54,  26.74,  19.55,  28.43],
       [ 23.81, 163.59, 115.72,  27.82,  20.21,  29.17],
       [ 24.03, 163.32, 115.11,  28.22,  20.42,  29.38],
       [ 24.34, 163.34, 115.17,  28.14,  20.36,  29.51]])

In [40]:
y.values

array([63.44, 59.98, 59.61, 59.41, 60.09, 59.62, 58.65, 59.2 , 56.18,
       56.64, 57.49])

In [51]:
X=[]
Y_train=[]
values=data.values
for i in range(len(values)):
    X.append([list(values[i])])
    Y_train.append([y[i]])

In [52]:
Y_train

[[63.44],
 [59.98],
 [59.61],
 [59.41],
 [60.09],
 [59.62],
 [58.65],
 [59.2],
 [56.18],
 [56.64],
 [57.49]]

In [53]:
data.values

array([[ 24.68, 164.93, 114.73,  26.27,  19.21,  28.87],
       [ 24.18, 164.89, 114.75,  26.22,  19.07,  27.76],
       [ 23.99, 164.63, 115.04,  25.78,  19.01,  27.04],
       [ 24.14, 163.92, 114.85,  27.41,  19.61,  27.84],
       [ 24.44, 163.45, 114.84,  26.86,  19.53,  28.02],
       [ 24.38, 163.46, 115.4 ,  27.09,  19.72,  28.25],
       [ 24.32, 163.22, 115.56,  27.13,  19.63,  28.24],
       [ 24.19, 164.02, 115.54,  26.74,  19.55,  28.43],
       [ 23.81, 163.59, 115.72,  27.82,  20.21,  29.17],
       [ 24.03, 163.32, 115.11,  28.22,  20.42,  29.38],
       [ 24.34, 163.34, 115.17,  28.14,  20.36,  29.51]])

In [54]:
X

[[[24.68, 164.93, 114.73, 26.27, 19.21, 28.87]],
 [[24.18, 164.89, 114.75, 26.22, 19.07, 27.76]],
 [[23.99, 164.63, 115.04, 25.78, 19.01, 27.04]],
 [[24.14, 163.92, 114.85, 27.41, 19.61, 27.84]],
 [[24.44, 163.45, 114.84, 26.86, 19.53, 28.02]],
 [[24.38, 163.46, 115.4, 27.09, 19.72, 28.25]],
 [[24.32, 163.22, 115.56, 27.13, 19.63, 28.24]],
 [[24.19, 164.02, 115.54, 26.74, 19.55, 28.43]],
 [[23.81, 163.59, 115.72, 27.82, 20.21, 29.17]],
 [[24.03, 163.32, 115.11, 28.22, 20.42, 29.38]],
 [[24.34, 163.34, 115.17, 28.14, 20.36, 29.51]]]

In [55]:
data['X']=X

In [64]:
x_train=data['X'].cumsum()

In [66]:
x_train[3]

[[24.68, 164.93, 114.73, 26.27, 19.21, 28.87],
 [24.18, 164.89, 114.75, 26.22, 19.07, 27.76],
 [23.99, 164.63, 115.04, 25.78, 19.01, 27.04],
 [24.14, 163.92, 114.85, 27.41, 19.61, 27.84]]

In [75]:
import keras

In [83]:
from keras.preprocessing.sequence import pad_sequences
x_train_new=pad_sequences(x,len(data))

In [84]:

x_train_new.shape

(11, 11, 6)

In [86]:
Y_train=np.array(Y_train)
Y_train

array([[63.44],
       [59.98],
       [59.61],
       [59.41],
       [60.09],
       [59.62],
       [58.65],
       [59.2 ],
       [56.18],
       [56.64],
       [57.49]])

In [87]:
from keras.models import Sequential
from keras.layers import Dense,LSTM

# Input layer

In [88]:
s=x_train_new.shape
model=Sequential()
model.add(LSTM(10,input_dim=s[2],input_length=s[1]))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: The `input_dim` and `input_length` arguments in recurrent layers are deprecated. Use `input_shape` instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(10, input_shape=(11, 6))`
  This is separate from the ipykernel package so we can avoid doing imports until

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [89]:
s

(11, 11, 6)

# Hidden layer

In [90]:
model.add(Dense(10,activation='relu'))

# Output Layer

In [91]:
model.add(Dense(1))

# Compile

In [92]:
model.compile(loss='mean_squared_error',optimizer='sgd')

In [93]:
history=model.fit(x_train_new,Y_train,batch_size=11,epochs=300,verbose=1)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/300
11/11 [==============================] - 2s 226ms/step - loss: 3524.2178
Epoch 2/300
11/11 [==============================] - 0s 2ms/step - loss: 1934.1731
Epoch 3/300
11/11 [==============================] - 0s 1ms/step - loss: 5386.9980
Epoch 4/300
11/11 [==============================] - 0s 2ms/step - loss: 3427.6995
Epoch 5/300
11/11 [==============================] - 0s 2ms/step - loss: 3292.1016
Epoch 6/300
11/11 [==============================] - 0s 2ms/step - loss: 3161.8733
Epoch 7/300
11/11 [==============================] - 0s 4ms/step - loss: 3036.8022
Epoch 8/300
11/11 [==============================] - 0s 4ms/step - loss: 2916.6833
Epoch 9/300
11/11 [==============================] - 0s 3ms/step - loss: 2801.3220
Epoch 10/300
11/11 [==============================] - 0s 2ms/step - loss: 2690.5283
Epoch 11/300
11/11 [==============================] - 0s 1ms/step - loss: 2584.1228
Epoch 12/300
11/11 [==============================] - 0s 2ms/step - loss: 2481.9304
Epoch 13/300
11/11 [==============================] - 0s 3ms/step - loss: 2383.7847
Epoch 14/300
11/11 [==============================] - 0s 2ms/step - loss: 2289.5259
Epoch 15/300
11/11 [==============================] - 0s 1ms/step - loss: 2198.9993
Epoch 16/300
11/11 [==============================] - 0s 2ms/step - loss: 2112.0581
Epoch 17/300
11/11 [==============================] - 0s 3ms/step - loss: 2028.5594
Epoch 18/300
11/11 [==============================] - 0s 4ms/step - loss: 1948.3676
Epoch 19/300
11/11 [==============================] - 0s 3ms/step - loss: 1871.3512
Epoch 20/300
11/11 [==============================] - 0s 1ms/step - loss: 1797.3846
Epoch 21/300
11/11 [==============================] - 0s 2ms/step - loss: 1726.3469
Epoch 22/300
11/11 [==============================] - 0s 1ms/step - loss: 1658.1227
Epoch 23/300
11/11 [==============================] - 0s 2ms/step - loss: 1592.6000
Epoch 24/300
11/11 [==============================] - 0s 2ms/step - loss: 1529.6719
Epoch 25/300
11/11 [==============================] - 0s 2ms/step - loss: 1469.2358
Epoch 26/300
11/11 [==============================] - 0s 2ms/step - loss: 1411.1931
Epoch 27/300
11/11 [==============================] - 0s 2ms/step - loss: 1355.4489
Epoch 28/300
11/11 [==============================] - 0s 1ms/step - loss: 1301.9120
Epoch 29/300
11/11 [==============================] - 0s 2ms/step - loss: 1250.4954
Epoch 30/300
11/11 [==============================] - 0s 2ms/step - loss: 1201.1147
Epoch 31/300
11/11 [==============================] - 0s 2ms/step - loss: 1153.6896
Epoch 32/300
11/11 [==============================] - 0s 1ms/step - loss: 1108.1425
Epoch 33/300
11/11 [==============================] - 0s 2ms/step - loss: 1064.3989
Epoch 34/300
11/11 [==============================] - 0s 2ms/step - loss: 1022.3876
Epoch 35/300
11/11 [==============================] - 0s 2ms/step - loss: 982.0401
Epoch 36/300
11/11 [==============================] - 0s 1ms/step - loss: 943.2902
Epoch 37/300
11/11 [==============================] - 0s 4ms/step - loss: 906.0750
Epoch 38/300
11/11 [==============================] - 0s 1ms/step - loss: 870.3333
Epoch 39/300
11/11 [==============================] - 0s 2ms/step - loss: 836.0069
Epoch 40/300
11/11 [==============================] - 0s 2ms/step - loss: 803.0400
Epoch 41/300
11/11 [==============================] - 0s 2ms/step - loss: 771.3785
Epoch 42/300
11/11 [==============================] - 0s 2ms/step - loss: 740.9709
Epoch 43/300
11/11 [==============================] - 0s 1ms/step - loss: 711.7675
Epoch 44/300
11/11 [==============================] - 0s 1ms/step - loss: 683.7205
Epoch 45/300
11/11 [==============================] - 0s 2ms/step - loss: 656.7841
Epoch 46/300
11/11 [==============================] - 0s 2ms/step - loss: 630.9144
Epoch 47/300
11/11 [==============================] - 0s 1ms/step - loss: 606.0692
Epoch 48/300
11/11 [==============================] - 0s 1ms/step - loss: 582.2077
Epoch 49/300
11/11 [==============================] - 0s 2ms/step - loss: 559.2911
Epoch 50/300
11/11 [==============================] - 0s 2ms/step - loss: 537.2822
Epoch 51/300
11/11 [==============================] - 0s 2ms/step - loss: 516.1448
Epoch 52/300
11/11 [==============================] - 0s 816us/step - loss: 495.8445
Epoch 53/300
11/11 [==============================] - 0s 2ms/step - loss: 476.3480
Epoch 54/300
11/11 [==============================] - 0s 2ms/step - loss: 457.6235
Epoch 55/300
11/11 [==============================] - 0s 2ms/step - loss: 439.6405
Epoch 56/300
11/11 [==============================] - 0s 996us/step - loss: 422.3697
Epoch 57/300
11/11 [==============================] - 0s 3ms/step - loss: 405.7828
Epoch 58/300
11/11 [==============================] - 0s 2ms/step - loss: 389.8528
Epoch 59/300
11/11 [==============================] - 0s 2ms/step - loss: 374.5536
Epoch 60/300
11/11 [==============================] - 0s 1ms/step - loss: 359.8603
Epoch 61/300
11/11 [==============================] - 0s 725us/step - loss: 345.7488
Epoch 62/300
11/11 [==============================] - 0s 3ms/step - loss: 332.1960
Epoch 63/300
11/11 [==============================] - 0s 2ms/step - loss: 319.1801
Epoch 64/300
11/11 [==============================] - 0s 2ms/step - loss: 306.6794
Epoch 65/300
11/11 [==============================] - 0s 1ms/step - loss: 294.6739
Epoch 66/300
11/11 [==============================] - 0s 1ms/step - loss: 283.1438
Epoch 67/300
11/11 [==============================] - 0s 3ms/step - loss: 272.0702
Epoch 68/300
11/11 [==============================] - 0s 4ms/step - loss: 261.4351
Epoch 69/300
11/11 [==============================] - 0s 1ms/step - loss: 251.2212
Epoch 70/300
11/11 [==============================] - 0s 2ms/step - loss: 241.4118
Epoch 71/300
11/11 [==============================] - 0s 2ms/step - loss: 231.9909
Epoch 72/300
11/11 [==============================] - 0s 1ms/step - loss: 222.9430
Epoch 73/300
11/11 [==============================] - 0s 2ms/step - loss: 214.2535
Epoch 74/300
11/11 [==============================] - 0s 1ms/step - loss: 205.9080
Epoch 75/300
11/11 [==============================] - 0s 2ms/step - loss: 197.8930
Epoch 76/300
11/11 [==============================] - 0s 1ms/step - loss: 190.1954
Epoch 77/300
11/11 [==============================] - 0s 1ms/step - loss: 182.8026
Epoch 78/300
11/11 [==============================] - 0s 2ms/step - loss: 175.7025
Epoch 79/300
11/11 [==============================] - 0s 2ms/step - loss: 168.8837
Epoch 80/300
11/11 [==============================] - 0s 2ms/step - loss: 162.3349
Epoch 81/300
11/11 [==============================] - 0s 1ms/step - loss: 156.0453
Epoch 82/300
11/11 [==============================] - 0s 1ms/step - loss: 150.0049
Epoch 83/300
11/11 [==============================] - 0s 3ms/step - loss: 144.2036
Epoch 84/300
11/11 [==============================] - 0s 2ms/step - loss: 138.6321
Epoch 85/300
11/11 [==============================] - 0s 2ms/step - loss: 133.2811
Epoch 86/300
11/11 [==============================] - 0s 2ms/step - loss: 128.1421
Epoch 87/300
11/11 [==============================] - 0s 1ms/step - loss: 123.2067
Epoch 88/300
11/11 [==============================] - 0s 2ms/step - loss: 118.4666
Epoch 89/300
11/11 [==============================] - 0s 1ms/step - loss: 113.9143
Epoch 90/300
11/11 [==============================] - 0s 907us/step - loss: 109.5422
Epoch 91/300
11/11 [==============================] - 0s 997us/step - loss: 105.3433
Epoch 92/300
11/11 [==============================] - 0s 1ms/step - loss: 101.3106
Epoch 93/300
11/11 [==============================] - 0s 816us/step - loss: 97.4377
Epoch 94/300
11/11 [==============================] - 0s 2ms/step - loss: 93.7181
Epoch 95/300
11/11 [==============================] - 0s 725us/step - loss: 90.1459
Epoch 96/300

11/11 [==============================] - 0s 2ms/step - loss: 86.7150
Epoch 97/300
11/11 [==============================] - 0s 816us/step - loss: 83.4201
Epoch 98/300
11/11 [==============================] - 0s 2ms/step - loss: 80.2556
Epoch 99/300
11/11 [==============================] - 0s 725us/step - loss: 77.2164
Epoch 100/300
11/11 [==============================] - 0s 2ms/step - loss: 74.2976
Epoch 101/300
11/11 [==============================] - 0s 907us/step - loss: 71.4943
Epoch 102/300
11/11 [==============================] - 0s 1ms/step - loss: 68.8021
Epoch 103/300
11/11 [==============================] - 0s 2ms/step - loss: 66.2165
Epoch 104/300
11/11 [==============================] - 0s 2ms/step - loss: 63.7333
Epoch 105/300
11/11 [==============================] - 0s 2ms/step - loss: 61.3484
Epoch 106/300
11/11 [==============================] - 0s 2ms/step - loss: 59.0580
Epoch 107/300
11/11 [==============================] - 0s 2ms/step - loss: 56.8582
Epoch 108/300
11/11 [==============================] - 0s 2ms/step - loss: 54.7456
Epoch 109/300
11/11 [==============================] - 0s 2ms/step - loss: 52.7166
Epoch 110/300
11/11 [==============================] - 0s 1ms/step - loss: 50.7679
Epoch 111/300
11/11 [==============================] - 0s 1ms/step - loss: 48.8965
Epoch 112/300
11/11 [==============================] - 0s 2ms/step - loss: 47.0991
Epoch 113/300
11/11 [==============================] - 0s 1ms/step - loss: 45.3729
Epoch 114/300
11/11 [==============================] - 0s 997us/step - loss: 43.7151
Epoch 115/300
11/11 [==============================] - 0s 1ms/step - loss: 42.1229
Epoch 116/300
11/11 [==============================] - 0s 2ms/step - loss: 40.5938
Epoch 117/300
11/11 [==============================] - 0s 3ms/step - loss: 39.1253
Epoch 118/300
11/11 [==============================] - 0s 1ms/step - loss: 37.7149
Epoch 119/300
11/11 [==============================] - 0s 2ms/step - loss: 36.3603
Epoch 120/300
11/11 [==============================] - 0s 1ms/step - loss: 35.0594
Epoch 121/300
11/11 [==============================] - 0s 2ms/step - loss: 33.8100
Epoch 122/300
11/11 [==============================] - 0s 2ms/step - loss: 32.6100
Epoch 123/300
11/11 [==============================] - 0s 2ms/step - loss: 31.4576
Epoch 124/300
11/11 [==============================] - 0s 2ms/step - loss: 30.3509
Epoch 125/300
11/11 [==============================] - 0s 1ms/step - loss: 29.2879
Epoch 126/300
11/11 [==============================] - 0s 3ms/step - loss: 28.2671
Epoch 127/300
11/11 [==============================] - 0s 2ms/step - loss: 27.2866
Epoch 128/300
11/11 [==============================] - 0s 2ms/step - loss: 26.3450
Epoch 129/300
11/11 [==============================] - 0s 2ms/step - loss: 25.4407
Epoch 130/300
11/11 [==============================] - 0s 1ms/step - loss: 24.5722
Epoch 131/300
11/11 [==============================] - 0s 2ms/step - loss: 23.7381
Epoch 132/300
11/11 [==============================] - 0s 1ms/step - loss: 22.9370
Epoch 133/300
11/11 [==============================] - 0s 907us/step - loss: 22.1677
Epoch 134/300
11/11 [==============================] - 0s 2ms/step - loss: 21.4288
Epoch 135/300
11/11 [==============================] - 0s 1ms/step - loss: 20.7191
Epoch 136/300
11/11 [==============================] - 0s 2ms/step - loss: 20.0376
Epoch 137/300
11/11 [==============================] - 0s 907us/step - loss: 19.3831
Epoch 138/300
11/11 [==============================] - 0s 997us/step - loss: 18.7545
Epoch 139/300
11/11 [==============================] - 0s 1ms/step - loss: 18.1507
Epoch 140/300
11/11 [==============================] - 0s 2ms/step - loss: 17.5709
Epoch 141/300
11/11 [==============================] - 0s 2ms/step - loss: 17.0140
Epoch 142/300
11/11 [==============================] - 0s 2ms/step - loss: 16.4792
Epoch 143/300
11/11 [==============================] - 0s 1ms/step - loss: 15.9656
Epoch 144/300
11/11 [==============================] - 0s 3ms/step - loss: 15.4723
Epoch 145/300
11/11 [==============================] - 0s 1ms/step - loss: 14.9986
Epoch 146/300
11/11 [==============================] - 0s 2ms/step - loss: 14.5435
Epoch 147/300
11/11 [==============================] - 0s 2ms/step - loss: 14.1066
Epoch 148/300
11/11 [==============================] - 0s 2ms/step - loss: 13.6869
Epoch 149/300
11/11 [==============================] - 0s 2ms/step - loss: 13.2838
Epoch 150/300
11/11 [==============================] - 0s 2ms/step - loss: 12.8967
Epoch 151/300
11/11 [==============================] - 0s 2ms/step - loss: 12.5250
Epoch 152/300
11/11 [==============================] - 0s 907us/step - loss: 12.1679
Epoch 153/300
11/11 [==============================] - 0s 2ms/step - loss: 11.8250
Epoch 154/300
11/11 [==============================] - 0s 816us/step - loss: 11.4957
Epoch 155/300
11/11 [==============================] - 0s 2ms/step - loss: 11.1794
Epoch 156/300
11/11 [==============================] - 0s 1ms/step - loss: 10.8756
Epoch 157/300
11/11 [==============================] - 0s 3ms/step - loss: 10.5839
Epoch 158/300
11/11 [==============================] - 0s 1ms/step - loss: 10.3037
Epoch 159/300
11/11 [==============================] - 0s 2ms/step - loss: 10.0346
Epoch 160/300
11/11 [==============================] - 0s 2ms/step - loss: 9.7762
Epoch 161/300
11/11 [==============================] - 0s 1ms/step - loss: 9.5280
Epoch 162/300
11/11 [==============================] - 0s 816us/step - loss: 9.2897
Epoch 163/300
11/11 [==============================] - 0s 2ms/step - loss: 9.0607
Epoch 164/300
11/11 [==============================] - 0s 1ms/step - loss: 8.8409
Epoch 165/300
11/11 [==============================] - 0s 1ms/step - loss: 8.6297
Epoch 166/300
11/11 [==============================] - 0s 996us/step - loss: 8.4269
Epoch 167/300
11/11 [==============================] - 0s 1ms/step - loss: 8.2322
Epoch 168/300
11/11 [==============================] - 0s 2ms/step - loss: 8.0451
Epoch 169/300
11/11 [==============================] - 0s 1ms/step - loss: 7.8654
Epoch 170/300
11/11 [==============================] - 0s 2ms/step - loss: 7.6929
Epoch 171/300
11/11 [==============================] - 0s 997us/step - loss: 7.5272
Epoch 172/300
11/11 [==============================] - 0s 1ms/step - loss: 7.3681
Epoch 173/300
11/11 [==============================] - 0s 1ms/step - loss: 7.2153
Epoch 174/300
11/11 [==============================] - 0s 1ms/step - loss: 7.0685
Epoch 175/300
11/11 [==============================] - 0s 1ms/step - loss: 6.9275
Epoch 176/300
11/11 [==============================] - 0s 1ms/step - loss: 6.7921
Epoch 177/300
11/11 [==============================] - 0s 997us/step - loss: 6.6621
Epoch 178/300
11/11 [==============================] - 0s 1ms/step - loss: 6.5372
Epoch 179/300
11/11 [==============================] - 0s 2ms/step - loss: 6.4173
Epoch 180/300
11/11 [==============================] - 0s 1ms/step - loss: 6.3021
Epoch 181/300
11/11 [==============================] - 0s 997us/step - loss: 6.1915
Epoch 182/300
11/11 [==============================] - 0s 1ms/step - loss: 6.0852
Epoch 183/300
11/11 [==============================] - 0s 2ms/step - loss: 5.9832
Epoch 184/300
11/11 [==============================] - 0s 1ms/step - loss: 5.8852
Epoch 185/300
11/11 [==============================] - 0s 1ms/step - loss: 5.7911
Epoch 186/300
11/11 [==============================] - 0s 725us/step - loss: 5.7007
Epoch 187/300
11/11 [==============================] - 0s 2ms/step - loss: 5.6139
Epoch 188/300
11/11 [==============================] - 0s 2ms/step - loss: 5.5306
Epoch 189/300
11/11 [==============================] - 0s 2ms/step - loss: 5.4505
Epoch 190/300
11/11 [==============================] - 0s 998us/step - loss: 5.3736
Epoch 191/300
11/11 [==============================] - 0s 903us/step - loss: 5.2997
Epoch 192/300
11/11 [==============================] - 0s 1ms/step - loss: 5.2288
Epoch 193/300
11/11 [==============================] - 0s 816us/step - loss: 5.1607
Epoch 194/300
11/11 [==============================] - 0s 1ms/step - loss: 5.0953

Epoch 195/300
11/11 [==============================] - 0s 1ms/step - loss: 5.0324
Epoch 196/300
11/11 [==============================] - 0s 1ms/step - loss: 4.9721
Epoch 197/300
11/11 [==============================] - 0s 1ms/step - loss: 4.9142
Epoch 198/300
11/11 [==============================] - 0s 906us/step - loss: 4.8585
Epoch 199/300
11/11 [==============================] - 0s 998us/step - loss: 4.8050
Epoch 200/300
11/11 [==============================] - 0s 1ms/step - loss: 4.7537
Epoch 201/300
11/11 [==============================] - 0s 997us/step - loss: 4.7044
Epoch 202/300
11/11 [==============================] - 0s 2ms/step - loss: 4.6571
Epoch 203/300
11/11 [==============================] - 0s 3ms/step - loss: 4.6116
Epoch 204/300
11/11 [==============================] - 0s 1ms/step - loss: 4.5679
Epoch 205/300
11/11 [==============================] - 0s 2ms/step - loss: 4.5260
Epoch 206/300
11/11 [==============================] - 0s 2ms/step - loss: 4.4857
Epoch 207/300
11/11 [==============================] - 0s 2ms/step - loss: 4.4470
Epoch 208/300
11/11 [==============================] - 0s 2ms/step - loss: 4.4098
Epoch 209/300
11/11 [==============================] - 0s 2ms/step - loss: 4.3741
Epoch 210/300
11/11 [==============================] - 0s 2ms/step - loss: 4.3399
Epoch 211/300
11/11 [==============================] - 0s 2ms/step - loss: 4.3070
Epoch 212/300
11/11 [==============================] - 0s 3ms/step - loss: 4.2753
Epoch 213/300
11/11 [==============================] - 0s 3ms/step - loss: 4.2450
Epoch 214/300
11/11 [==============================] - 0s 2ms/step - loss: 4.2158
Epoch 215/300
11/11 [==============================] - 0s 997us/step - loss: 4.1878
Epoch 216/300
11/11 [==============================] - 0s 2ms/step - loss: 4.1609
Epoch 217/300
11/11 [==============================] - 0s 1ms/step - loss: 4.1351
Epoch 218/300
11/11 [==============================] - 0s 2ms/step - loss: 4.1103
Epoch 219/300
11/11 [==============================] - 0s 3ms/step - loss: 4.0865
Epoch 220/300
11/11 [==============================] - 0s 1ms/step - loss: 4.0636
Epoch 221/300
11/11 [==============================] - 0s 2ms/step - loss: 4.0416
Epoch 222/300
11/11 [==============================] - 0s 1ms/step - loss: 4.0205
Epoch 223/300
11/11 [==============================] - 0s 2ms/step - loss: 4.0002
Epoch 224/300
11/11 [==============================] - 0s 2ms/step - loss: 3.9808
Epoch 225/300
11/11 [==============================] - 0s 2ms/step - loss: 3.9621
Epoch 226/300
11/11 [==============================] - 0s 1ms/step - loss: 3.9441
Epoch 227/300
11/11 [==============================] - 0s 2ms/step - loss: 3.9269
Epoch 228/300
11/11 [==============================] - 0s 2ms/step - loss: 3.9103
Epoch 229/300
11/11 [==============================] - 0s 816us/step - loss: 3.8944
Epoch 230/300
11/11 [==============================] - 0s 907us/step - loss: 3.8791
Epoch 231/300
11/11 [==============================] - 0s 1ms/step - loss: 3.8645
Epoch 232/300
11/11 [==============================] - 0s 723us/step - loss: 3.8504
Epoch 233/300
11/11 [==============================] - 0s 816us/step - loss: 3.8368
Epoch 234/300
11/11 [==============================] - 0s 997us/step - loss: 3.8238
Epoch 235/300
11/11 [==============================] - 0s 1ms/step - loss: 3.8114
Epoch 236/300
11/11 [==============================] - 0s 1ms/step - loss: 3.7994
Epoch 237/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7879
Epoch 238/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7768
Epoch 239/300
11/11 [==============================] - 0s 1ms/step - loss: 3.7662
Epoch 240/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7560
Epoch 241/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7462
Epoch 242/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7368
Epoch 243/300
11/11 [==============================] - 0s 1ms/step - loss: 3.7278
Epoch 244/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7191
Epoch 245/300
11/11 [==============================] - 0s 1ms/step - loss: 3.7107
Epoch 246/300
11/11 [==============================] - 0s 2ms/step - loss: 3.7027
Epoch 247/300
11/11 [==============================] - 0s 3ms/step - loss: 3.6951
Epoch 248/300
11/11 [==============================] - 0s 2ms/step - loss: 3.6877
Epoch 249/300
11/11 [==============================] - 0s 2ms/step - loss: 3.6806
Epoch 250/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6738
Epoch 251/300
11/11 [==============================] - 0s 2ms/step - loss: 3.6672
Epoch 252/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6610
Epoch 253/300
11/11 [==============================] - 0s 2ms/step - loss: 3.6549
Epoch 254/300
11/11 [==============================] - 0s 997us/step - loss: 3.6491
Epoch 255/300
11/11 [==============================] - 0s 3ms/step - loss: 3.6436
Epoch 256/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6382
Epoch 257/300
11/11 [==============================] - 0s 2ms/step - loss: 3.6331
Epoch 258/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6282
Epoch 259/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6234
Epoch 260/300
11/11 [==============================] - 0s 725us/step - loss: 3.6189
Epoch 261/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6145
Epoch 262/300
11/11 [==============================] - 0s 997us/step - loss: 3.6103
Epoch 263/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6063
Epoch 264/300
11/11 [==============================] - 0s 1ms/step - loss: 3.6024
Epoch 265/300
11/11 [==============================] - 0s 817us/step - loss: 3.5987
Epoch 266/300
11/11 [==============================] - 0s 3ms/step - loss: 3.5952
Epoch 267/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5917
Epoch 268/300
11/11 [==============================] - 0s 997us/step - loss: 3.5885
Epoch 269/300
11/11 [==============================] - 0s 2ms/step - loss: 3.5853
Epoch 270/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5823
Epoch 271/300
11/11 [==============================] - 0s 2ms/step - loss: 3.5793
Epoch 272/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5765
Epoch 273/300
11/11 [==============================] - 0s 2ms/step - loss: 3.5739
Epoch 274/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5713
Epoch 275/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5688
Epoch 276/300
11/11 [==============================] - 0s 2ms/step - loss: 3.5664
Epoch 277/300
11/11 [==============================] - 0s 907us/step - loss: 3.5641
Epoch 278/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5619
Epoch 279/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5598
Epoch 280/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5578
Epoch 281/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5558
Epoch 282/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5540
Epoch 283/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5522
Epoch 284/300
11/11 [==============================] - 0s 725us/step - loss: 3.5505
Epoch 285/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5488
Epoch 286/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5472
Epoch 287/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5457
Epoch 288/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5442
Epoch 289/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5428
Epoch 290/300
11/11 [==============================] - 0s 997us/step - loss: 3.5415
Epoch 291/300
11/11 [==============================] - 0s 816us/step - loss: 3.5402
Epoch 292/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5389
Epoch 293/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5377
Epoch 294/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5366

Epoch 295/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5355
Epoch 296/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5344
Epoch 297/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5334
Epoch 298/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5324
Epoch 299/300
11/11 [==============================] - 0s 1ms/step - loss: 3.5315
Epoch 300/300
11/11 [==============================] - 0s 2ms/step - loss: 3.5306

In [94]:
model.predict(x_train_new)

array([[58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075],
       [58.974075]], dtype=float32)

In [95]:
model.save("lstm.h5")

In [96]:
from keras.models import load_model
saved_model=load_model('lstm.h5')